
<ion-view view-title="Ingresar">
    <ion-content padding="true" class="has-header" style="text-align:center; 
  	top: 50%;">
        <div ng-hide="authData" class="card" ng-click="login()">

        	<img src="http://203.157.138.71/finance/img/money.png" width="100" height="100">
            <a id="iniciarSesiN-button2" style="border-radius:-1px -1px -1px -1px;" class="button button-assertive button-large icon-left ion-social-google">Ingresar con Gmail</a>
        </div>
    </ion-content>
</ion-view>
